[aws verification challenge](https://github.com/model-checking/verify-rust-std/)
